#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#back-grid {
    display: grid;
    /* min-width: 20rem;
    min-height: 20rem; */
    width: 22rem;
    height: 22rem;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(4, 5rem);
    grid-template: "A B C D"
                    "E F G H"
                    "I J K L"
                    "M N O P";
    background: #fff;
    border: 1px dotted aquamarine;
    column-gap: 0.4rem;
    row-gap: 0.4rem;
    padding: 0.7rem;
}
.grid-cell {
    display: flex;
    place-self: center;
    background: #eee;
    align-items: center;
    align-content: center;
    height: 5rem;
    width: 5rem;
    border: 1px dotted #ddd;
    border-radius: 0.5rem;
}
#A {
    grid-area: A;
}
#B {
    grid-area: B;
}
#C {
    grid-area: C;
}
#D {
    grid-area: D;
}
#E {
    grid-area: E;
}
#F {
    grid-area: F;
}
#G {
    grid-area: G;
}
#H {
    grid-area: H;
}
#I {
    grid-area: I;
}
#J {
    grid-area: J;
}
#K {
    grid-area: K;
}
#L {
    grid-area: L;
}
#M {
    grid-area: M;
}
#N {
    grid-area: N;
}
#O {
    grid-area: O;
}
#P {
    grid-area: P;
}